<h3><%= link_to workout.workout_type.title, workout_path(workout) %></h3>
<%= link_to 'Edit', edit_workout_path(workout) %>
<br />
1 Rep Max: <%= workout.repmax%> Working Max: <%= workout.working_max%>
<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>W</th><th>WU</th><th>WU</th><th>WU</th><th>L</th><th>L</th><th>L</th><th>Reps</th>
			</tr>
		</thead>
		<tbody>
			<%= render workout.lifts %>
		</tbody>
	</table>
</div>