<% wl = lift.workout_lift %>
<tr>
	<td><%= link_to lift.workout_lift.title, lift_path(lift) %></td>
	<td class="info"><%= calculate_weight(lift.workout.working_max, wl.wu1_offset) %> </td>
	<td class="info"><%= calculate_weight(lift.workout.working_max, wl.wu2_offset) %> </td>
	<td class="info"><%= calculate_weight(lift.workout.working_max, wl.wu3_offset) %> </td>
	<%= cell_color(calculate_weight(lift.workout.working_max, wl.l1_offset), wl.l1_reps)%>
	<%= cell_color(calculate_weight(lift.workout.working_max, wl.l2_offset), wl.l2_reps)%>
	<%= cell_color(calculate_weight(lift.workout.working_max, wl.l3_offset), wl.l3_reps)%>
	<td><%= lift.reps_completed %> </td>
</tr>
<tr>
	<td></td>
	<td class="info"><%= each_weight(lift.workout.working_max, wl.wu1_offset) %> </td>
	<td class="info"><%= each_weight(lift.workout.working_max, wl.wu2_offset) %> </td>
	<td class="info"><%= each_weight(lift.workout.working_max, wl.wu3_offset) %> </td>
	<%= cell_color(each_weight(lift.workout.working_max, wl.l1_offset), wl.l1_reps)%>
	<%= cell_color(each_weight(lift.workout.working_max, wl.l2_offset), wl.l2_reps)%>
	<%= cell_color(each_weight(lift.workout.working_max, wl.l3_offset), wl.l3_reps)%>
	<td></td>
</tr>

