<h1>Editing Lift</h1>
<h2>Lift <%=@lift.workout_lift.title %> for <%= @lift.workout.workout_type.title %>
	in Cycle #<%= @lift.workout.cycle.number %>
</h2>

<%= form_for :lift, url: lift_path(@lift), 
	 method: :patch do |f| %>
  <% if @lift.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@lift.errors.count, "error") %> prohibited
      this article from being saved:</h2>
    <ul>
    <% @lift.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    Reps Completed: <%= f.text_field :reps_completed %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>